{% extends "layout.html" %}

{% block body %}
  <div id="annonces" class='row'>
    <div class="col-3">
      <h5 class='header'>Catégories</h5>
    </div>
    <div class="col-9">
      <h5>Les annonces</h5>
      {% for annonce in annonces %}
      <div class="row annonce">
        <div class="col-3">
          IMAGE 
        </div>
        <div class="col-9">
          <a href="{% url 'annonces:details' id=annonce.id %}">{{ annonce.titre }}</a>
          <br>
          CatégDate de publication : Prix : Catégorie
          <div class="row">
            <div class="col-4">Catégorie</div>
            <div class="col-4">Prix</div>
            <div class="col-4">Date de publication</div>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}
