<html>
  <head>
    <title>ESMT::Django</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/jquery.min.js"></script>
    <script src="/static/nav.js"></script>
  </head>
  <body>
    <div id="application" class="container">
      <div class="menu row">
        <div class="col-6">
          <a href="/">Accueil</a>
          <a href="#/categories">Catégories</a>
        </div>
      </div>

      <div>
        {% block body %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
